# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
elixir_bot-*.tar

# Temporary files, for example, from tests.
/tmp/

config/config.exs
config/dev.exs
config/prod.exs
config/test.exs

COOKIE
.env

# Ignore release config files.
/rel/

#ignore beam dissassemblies
*.disasm

# Ignore redirection of stdout and stderr to a file.
nohup.out

#database files
db/*
dev_db.db
prod_db.db
priv/repo/structure.sql

#log dump file
log_dump.txt

# ignore dialyzer files
.elixir_ls/

# ignore output of list members one-off
members.csv